.img {
    animation: Float 3s linear infinite;
  }
@keyframes Float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }