.radio-input input {
    display: none;
  }
  
  .radio-input {
    --container_width: 200px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #212121;
    color: #fff;
    width: var(--container_width);
    overflow: hidden;
    border: 2px solid #fff;
  }
  
  .radio-input label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 14px;
  }
  
  .selection {
    display: none;
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 4);
    z-index: 0;
    left: 0;
    top: 0;
    transition: 0.15s ease;
  }
  
  .radio-input label:has(input:checked) {
    color: #000;
  }
  
  .radio-input label:has(input:checked) ~ .selection {
    background-color: #90fc14;
    display: inline-block;
  }
  
  .radio-input label:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 0 / 4));
  }
  
  .radio-input label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 1 / 4));
  }
  
  .radio-input label:nth-child(3):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 2 / 4));
  }
  
  .radio-input label:nth-child(4):has(input:checked) ~ .selection {
    transform: translateX(calc(var(--container_width) * 3 / 4));
  }

  .number-control {
    display: flex;
    align-items: center;
  }
  
  .number-left::before,
  .number-right::after {
    content: attr(data-content);
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 20px;
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .number-left::before {
    content: "-";
  }
  
  .number-right::after {
    content: "+";
  }
  
  .number-quantity {
    padding: 0.25rem;
    border: 0;
    width: 50px;
    -moz-appearance: textfield;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .number-left:hover::before,
  .number-right:hover::after {
    background-color: #666666;
  }
  