@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import "tailwindcss";


@theme {
    --font-syne: 'Syne', sans-serif;
    --font-french: 'Ballet', cursive;
}

::-webkit-scrollbar{
    display: none;
}
